#root table, th, td {
  border: none;
}

.App{
  padding:15px
}



#root *[class*="MuiInputBase-input"] {
  all: inherit;
  height: auto;
}


#root *[class*="MuiTableCell-root"] img {
  height: 80px;
}