#root table,
th,
td {
  border: none;
}

.App {
  padding: 15px;
}

#root *[class*="MuiInputBase-input"] {
  height: auto;
  border-color: transparent;
}

#root *[class*="MuiTableCell-root"] img {
  height: 80px;
}

.MuiInputLabel-formControl.branch {
  position: relative;
}

#root .MuiTableRow-root.Mui-selected {
  background-color: #83bd00;
}
